@model task4.Models.Database.StuTable
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_myLayoutPage1.cshtml";
}

<h2>Create</h2>
<form action="/Srudent/Create" method="post">
    <input type="text" name="Name" class="form-control" placeholder="Name" /> <br /> <br />
    <input type="text" name="id" class="form-control" placeholder="id" /><br /><br />
    
    <input type="text" name="Department" class="form-control" placeholder="Department" /><br /><br />
    
    <input type="text" name="Dob" class="form-control" placeholder="Dob" /><br /><br />
    
    <input type="text" name="cgpa" class="form-control" placeholder="cgpa" /><br /><br />
    
    <input type="submit" value="Create" />
    </form>


